BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
AlignConsecutiveMacros: true
IndentPPDirectives: BeforeHash
BreakBeforeBraces: Custom
BraceWrapping:
    AfterControlStatement: Always
    BeforeElse: true
    AfterFunction: true
